/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*----------------- 
another font  
------------------*/



/* common styles and utilities */
body
{
    font-family: 'Poppins', sans-serif;
 
}

/* Top Banner styles */
.banner-things
{
    background-color: #2D25A0;
    display: flex;
    align-items: center;
   
}
.banner-info
{
    float: left;
    padding-left: 156px;
    align-items: center;
    
}
.banner-title
{
    font-size: 50px;
    color: white;

}
.top-banners
{
    margin-left: 102px;
}

.banner img
{
    float: right;
    width: 338x;
    height: 428px;
    margin-top: 1px;
    padding-right: 140px;
    align-items: center;
}
.live-button
{
    width: 168px;
    height: 44px;
    font-size: 16px;
    background-color: #E02C6D;
    text-align: center;
    color: white;
    padding-top: 15px;
    transition: ease-out 0.3s;
    outline: none;
}

.live-button:hover 
{
    box-shadow: inset 300px 0 0 0#35fa03;
} 


.live-button a
{
    text-decoration: none;
    width: 88px;
    height: 24px;
    color: white;
}


/* player styles 
----------------*/

.player
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
    grid-row-gap: 15px;
}

.player-photo
{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 456px;
    margin-top: 70px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-photo img
{
    width: 300px;
    height: 256px;
    padding: 15px;
}

.player-title
{
    font-size: 28px;
    width: 300px;
    color: #18191F;
    padding-top: 16px;
    padding-left: 15px;
}

.player-info .player-details
{
    font-size: 16px;
    padding-left: 15px;
    color: #6C6C6C;
    align-items: left;
} 

---------------------/* 
Footer styles 
-------------------*/
*{
    margin: 0;
    padding:0;
}
.footer-img
{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
  
      
}
.social-icons
{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    height: 32px;
    width: 32px;
    boarder: radius 30px;
    
}
.copyright-text
{
    display: flex;
    align-items: center;
    ext-align: right;
    justify-content: center;
}

/* ----------------
Ball animation style 
 ===================*/

 .section-animi
     margin: 0;
     padding: 0;
     overflow: hidden;
     background: url(stdium.jpg);
     background-size: cover;
 }
 marquee
 {
     height: 100vh;
 }
 .ball
 {
     max-width: 300px;
     animation: animate 4s linear infinite;
 }
 @keyframes animate
 {
     0%
     {
         transform:rotate(0deg);
     }
    100%
    {
        transform: rotate(360deg);
    }
}
     

  

/*------------------
     Media Queries -------
      -------------------*/
      /* Mobile Devices */
      @media only screen and (max-width:688px)  {
        .container{
            width: 100%;
        }
       
        .player{
          
            grid-template-columns: repeat(1, 1fr);
        }
        .player-photo{
           flex-direction: column;
       }
     
     }
       /* tablet devices */
       @media only screen and (min-width:688px)   and (max-width:992px) {
           .container{
               width: 100%;
           }
           .player{
               grid-template-columns: repeat(2, 1fr);
           }
           
       }

   